
.dp-menu ul {
    list-style-type: none;
    padding-right: 80px;
    text-align: center;
    
}

.dp-menu {
    font-size: 110%;
    
    text-align: center;
    margin: 0 auto;
    
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;}
    
.dp-menu ul {
    
    
    background-color: #F2542D;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
   color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color:#f4a261;
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}